# VITE environment variables

# To use these for your development environment, change the name of this file to
# .env.local and update the values accordingly (if you have the RequestBite
# Proxy from https://github.com/requestbite/proxy running on the default port,
# these should work by default).

VITE_PROXY_HOST=http://localhost:8080               # Run Proxy locally
VITE_HELLO_URL=https://requestbite.com/hello.json   # Hosted welcome JSON
VITE_BASE_URL=http://localhost:5137                 # Base URL of locally running Slingshot
VITE_CATALOG_API=https://api.ac.requestbite.com     # Publicly hosted API catalog

# The production versoin of Slingshot (https://s.requestbite.com) is hosted on
# BunnyCDN (bunny.net). If populating the env vars below, you can use the
# provided Makefile for deplyment.

BUNNY_PULL_ACCESS_KEY=
BUNNY_ZONE_NAME=
BUNNY_ACCESS_KEY=
BUNNY_PULL_ID=
